html, body {
    height: 100%;
    margin: 0;
}

body.goal-page {
    margin: 0;
    padding: 0;
    background-image: url("BGD.PNG"); 
    height: 100%;    
    width: 100%; 
    background-position: center;   
    background-repeat: no-repeat; 
}

.backbutton {
    position: fixed;
    top: 5%;
    right: 10%;
    text-decoration: none;
    transition: transform 0.5s ease;
}

.backbuttontext {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #fff1ec;
}

.backbutton:hover {
    transform: scale(1.3); 
}

.maintext {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    text-align: right;
    width: 38%;
}

.title1 {
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    font-size: 70px;
    color: #fff1ec;
    line-height: 80px;
    margin-bottom: 0px;
}

.title2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 60px;
    color: #fff1ec;
    line-height: 80px;
    margin-bottom: 35px;
}
.subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: #fff1ec;
}

.box {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    height: 70%;
    width: 25%;
    border-radius: 20px;
    padding: 14px 20px 20px 20px;
    text-align: right;
    box-shadow: 5px 10px 15px #d3717b;
    background-image: url("BGL.PNG");
    background-size: cover;
}