html, body {
    height: 100%;
    margin: 0;
}

body.income-page {
    margin: 0;
    padding: 0;
    background-image: url("BGL.PNG"); 
    height: 100%;    
    width: 100%; 
    background-position: center;   
    background-repeat: no-repeat; 
}

.backbutton {
    position: fixed;
    top: 5%;
    left: 10%;
    text-decoration: none;
    transition: transform 0.5s ease;
}

.backbuttontext {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #ec7790;
}

.backbutton:hover {
    transform: scale(1.3); 
}

.maintext {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    text-align: left;
    width: 40%;
}

.title1 {
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    font-size: 70px;
    color: #ec7790;
    line-height: 80px;
    margin-bottom: 0px;
}

.title2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 60px;
    color: #ec7790;
    line-height: 80px;
    margin-bottom: 35px;
}
.subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: #ec7790;
}

.box {
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    height: 70%;
    width: 25%;
    border-radius: 20px;
    padding: 14px 20px 20px 20px;
    box-shadow: 5px 10px 15px #e9d1c9;
    background-image: url("BGD.PNG");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.income-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
}

.boxtitel {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 23px;
    color: #fff1ec;
    margin-bottom: 10px;
    text-align: center;
    width: 130%;
}

.input {
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 12px;
    padding: 0 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #81d4c4; 
    background-color: #fff1ec;
}

.button {
    height: 50px;
    width: 50%;
    align-self: center;
    border: none;
    border-radius: 12px;
    background-color: #fff1ec;
    color: #81d4c4;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
    box-shadow: 5px 10px 15px #de6d6d;
    transition: transform 0.4s ease;
}

.button:hover {
    transform: scale(1.05);
}

.calcanswer {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 23px;
    color: #fff1ec;
    margin-bottom: 10px;
    text-align: center;
    width: 130%;
}   

.number{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #9de8da;
    margin-bottom: 10px;
    text-align: center;
    width: 130%;
} 