body.info-page {
    background-image: url("BGL.PNG"); 
}

.backbutton {
    left: 10%;
}

.backbuttontext {
    color: #ec7790;
}

.maintext {
    left: 10%;
    text-align: left;
}

.title1,
.title2,
.subtitle {
    color: #ec7790;
}

.quizbutton {
    background-color: #81d4c4;
    height: 70px;
    width: 120px;
    margin-top: 24px;
    padding: 0 24px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 10px 15px #e9d1c9;
    cursor: pointer;
    transition: transform 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.quizbuttontext {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #FFF1EC;
}

.quizbutton:hover {
    transform: scale(1.05); 
}

.box {
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    height: 70%;
    width: 25%;
    border-radius: 20px;
    padding: 14px 20px 20px 20px;
    text-align: right;
    box-shadow: 5px 10px 15px #e9d1c9;
    background-image: url("BGD.PNG");
    background-size: cover;
}

.boxtitle {
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    font-size: 30px;
    color: #FFF1EC;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    text-align: left;
}

.boxtext {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 21px;
    color: #FFF1EC;
    width: 100%;
    text-align: left;
}

.button-container {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    display: flex;
    gap: 7.5px;
}

.button {
    background-color: transparent;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color:#FFF1EC;
    border: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.2);
}

.line {
    position: absolute;
    left: 50%;
    top: -40%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #FFF1EC;
}