body.quiz-page {
    background-image: url("BGD.PNG"); 
}

.backbutton {
    left: 10%;
}

.backbuttontext {
    color: #fff1ec;
}

.maintext {
    right: 10%;
    text-align: right;
}

.title1,
.subtitle {
    color: #fff1ec;
}



.box {
    background-color: #FFF1EC;
    box-shadow: 5px 10px 15px #de6d6d;
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    height: 40%;
    width: 25%;
    border-radius: 20px;
}

.indicator {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #ec7790;
}

.line {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    width: 90%;
    height: 2px;
    background-color: #ec7790;
}

.question {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 35%;
    font-family: 'Bodoni Moda', serif;
    font-size: 30px;
    color: #ec7790;
    width: 90%;
    text-align: center;
    font-weight: bold;
}


.Ybutton {
    position: absolute;
    bottom: 15%;
    left: 15%;
    height: 15%;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff1ec;
    background-color: #ec7790;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 5px 10px 15px #e9d1c9;
}

.Ybutton:hover {
    transform: scale(1.05); 
}

.Nbutton {
    position: absolute;
    bottom: 15%;
    right: 15%;
    height: 15%;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff1ec;
    background-color: #ec7790;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 5px 10px 15px #e9d1c9;
}

.Nbutton:hover {
    transform: scale(1.05); 
}