<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='goal.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Saving Goal Calculator</title>
</head>
<body class="goal-page">
     <a href="{{ url_for('home') }}" class="backbutton"> 
        <span class="backbuttontext">&lt;-</span>
    </a>

    <div class = "maintext"> 
        <div class="title1"> Saving Goal </div>
        <div class="title2"> Calculator </div>
        <div class="subtitle">Plan your savings goal, timeframe, or saving amount - enter any two and get a personalized result instantly.</div>
    </div>

    <div class="calculatorbox"> 
        <div class="boxtop">
            <span class="boxtext">Saving Goal</span>
            <input id="goal"class="boxinput" type="text">
        </div>
        <div class="boxmiddle">
            <span class="boxtext">Saving Amount per Week</span>
            <input id="amount" class="boxinput" type="text">
        </div>
        <div class="boxbottom">
            <span class="boxtext">Weeks</span>
            <input id="weeks" class="boxinput" type="text">
        </div>
        <button class="goalbutton" type="button" onclick="calculategoal()">Enter</button>

    </div>

    <script>

function calculategoal() {
    let goal = document.getElementById("goal").value;
    let amount = document.getElementById("amount").value;
    let weeks = document.getElementById("weeks").value;

    if ( weeks == "") {
        weeks = Math.ceil(goal / amount);
        document.getElementById("weeks").value = weeks;
    } else if (amount == "") {
        amount = Math.ceil(goal / weeks);
        document.getElementById("amount").value = amount;
    } else if (goal == "") {
        goal = amount * weeks;
        document.getElementById("goal").value = goal;
    } else {
        alert("Please enter at least two values to calculate the third.");
    }
}
    </script>
   
    
</body>
</html>
