<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='goal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Saving Goal Calculator</title>
</head>
<body class="goal-page">
     <a href="{{ url_for('home') }}" class="backbutton"> 
        <span class="backbuttontext">&lt;-</span>
    </a>

    <div class = "maintext"> 
        <div class="title1"> Saving Goal </div>
        <div class="title2"> Calculator </div>
        <div class="subtitle">Plan your savings goal, timeframe, or weekly savings amount. Choose your account type and see how interest can help you reach your goal faster.</div>
    </div>

    <form class="calculatorbox" action="{{ url_for('goal') }}" method="post">

        <div class="boxone">
            <span class="boxtext">Saving Goal</span>
            <input id="goal" name="goal" class="boxinput" type="number" min="0" step="any" value="{{ goal }}">
        </div>
        <div class="boxtwo">
            <span class="boxtext">Saving Amount per Week</span>
            <input id="amount" name="amount" class="boxinput" type="number" min="0" step="any" value="{{ amount }}">
        </div>
        <div class="boxthree">
            <span class="boxtext">Weeks</span>
            <input id="weeks" name="weeks" class="boxinput" type="number" min="0" step="any" value="{{ weeks }}">
        </div>

        <div class="boxfour">
            <span class="boxtext">Account Type</span>
            <div class="radiogroup">
                <label class="radiooption">
                    <input type="radio" name="account_type" value="everyday" {% if account_type == 'everyday' %}checked{% endif %}>
                    Everyday Account (0.1%)
                </label>
                <label class="radiooption">
                    <input type="radio" name="account_type" value="savings" {% if account_type == 'savings' %}checked{% endif %}>
                    Savings Account (1.5%)
                </label>
                <label class="radiooption">
                    <input type="radio" name="account_type" value="deposit" {% if account_type == 'deposit' %}checked{% endif %}>
                    Deposit (3.0%)
                </label>
            </div>
           

        </div>

        <button class="goalbutton" type="submit">Enter</button>

    </form>

</body>
</html>
