<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Budget Education</title>
</head>
<body class="home-page">
    <div class = "maintext"> 
        <div class="title" > Take Control of your own Money. </div>
        <div class="subtitle">Learn the basics of budgeting, manage irregular income, and reach your saving goals.</div>
    </div>
    
    <div class="topbox"> 
        <span class="tbtitle">Budget your Money</span>
        <span class="tbsubtitle">How to</span>
    </div>
    
    <div class="middlebox"> 
        <span class="mbtitle">Saving Goal</span>
        <span class="mbsubtitle">Calculator</span>
    </div>
    
    <div class="bottombox"> 
        <span class="bbtitle">Income Smoothing</span>
        <span class="bbsubtitle">Calculator</span>
    </div>
</body>
</html>
