<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='income.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Income Smoothing Calculator</title>
</head>
<body class="income-page">
     <a href="{{ url_for('home') }}" class="backbutton"> 
        <span class="backbuttontext">&lt;-</span>
    </a>
    
    <div class = "maintext"> 
        <div class="title1"> Income Smoothing </div>
        <div class="title2"> Calculator </div>
        <div class="subtitle">Use your past income to calculate a personalized amount you can safely spend.</div>
    </div>

    <div class="box">
        <div class="income-inputs">
            
            <div class="boxtitel">How much have you earned in the last 4 weeks?</div>
            
            <input class="input" type="number" id="week1" >
            <input class="input" type="number" id="week2" > 
            <input class="input" type="number" id="week3" >
            <input class="input" type="number" id="week4" >

            <button class="button" onclick="calculateincome()">Enter</button>

            <div class="calcanswer" >You can spend  <span class="number" id="calcanswer">_____</span> safely each week.</div>

            </div>
        </div>
    </div>
    

   <script>

function calculateincome() {

    let week1 = document.getElementById("week1").value;
    let week2 = document.getElementById("week2").value;
    let week3 = document.getElementById("week3").value;
    let week4 = document.getElementById("week4").value;

    if (week1 === "" || week2 === "" || week3 === "" || week4 === "") {
        alert("Please fill in all four weeks of income to get an accurate calculation.");
        return;
    }

    week1 = parseFloat(week1);
    week2 = parseFloat(week2);
    week3 = parseFloat(week3);
    week4 = parseFloat(week4);

    let totalIncome = week1 + week2 + week3 + week4;
    let calcanswer = (totalIncome / 4) * 0.85;

    document.getElementById("calcanswer").textContent =
        "$" + calcanswer.toFixed(2);
}

</script>


</body>
</html>
