<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='income.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Income Smoothing Calculator</title>
</head>
<body class="income-page">
     <a href="{{ url_for('home') }}" class="backbutton"> 
        <span class="backbuttontext">&lt;-</span>
    </a>
    
    <div class = "maintext"> 
        <div class="title1"> Income Smoothing </div>
        <div class="title2"> Calculator </div>
        <div class="subtitle">Use your past income to calculate a personalized amount you can safely spend.</div>
    </div>

    <form class="box" action="{{ url_for('income') }}" method="post">
        <div class="income-inputs">
            
            <div class="boxtitel">How much have you earned in the last 4 weeks?</div>
            
            <input class="input" type="number" id="week1" name="week1" value="{{ week1 }}" min="0" >
            <input class="input" type="number" id="week2" name="week2" value="{{ week2 }}" min="0" > 
            <input class="input" type="number" id="week3" name="week3" value="{{ week3 }}" min="0" >
            <input class="input" type="number" id="week4" name="week4" value="{{ week4 }}" min="0" >

            <button class="button" type="submit">Enter</button>

            <div class="calcanswer" >You can spend  <span class="number">{{ amount }}</span> safely each week.</div>

        </div>
    </form>



</body>
</html>
