<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='info.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Budget Education</title>
</head>
<body class="info-page">
    <a href="{{ url_for('home') }}" class="backbutton"> 
        <span class="backbuttontext">&lt;-</span>
    </a>

    <div class="info-layout">
        <div class = "maintext"> 
            <div class="title1"> How to </div>
            <div class="title2"> Budget your Money </div>
            <div class="subtitle">Create a budget that actually works for you, with personalized tips based on your income and spending habits.</div>
        </div>

        <a href="{{ url_for('quiz') }}" class="quizbutton"> 
            <span class="quizbuttontext">Quiz -></span>
        </a>
    </div>

    <div class="box">
        <h2 class="boxtitle" id="boxtitle">Click a number</h2>
        <p class= boxtext id="boxtext"></p>

        <div class="button-container">
            <div class="line"> </div>
            <button class="button" onclick="show(1)">1</button>
            <button class="button" onclick="show(2)">2</button>
            <button class="button" onclick="show(3)">3</button>
            <button class="button" onclick="show(4)">4</button>
            <button class="button" onclick="show(5)">5</button>
            <button class="button" onclick="show(6)">6</button>
            <button class="button" onclick="show(7)">7</button>
            <button class="button" onclick="show(8)">8</button>
            
        </div>
    </div>

   

    <script src="{{ url_for('static', filename='info.js') }}"></script>
       

</body>
</html>
