<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body class="quiz-page">
    <a href="{{ url_for('information') }}" class="backbutton"> 
        <span class="backbuttontext">&lt;-</span>
    </a>

    <div class="maintext"> 
        <div class="title">Quiz</div>
        <div class="subtitle">
            Create a budget that actually works for you, with personalized tips based on your income and spending habits.
        </div>
    </div>


<div class="box">
  <div id="question"></div>

  <button onclick="answer('yes')">Yes</button>
  <button onclick="answer('no')">No</button>
</div>

<script>
const questions = [
  {q: "Do you know what budgeting is?", a: "yes"},
  {q: "Is HTML a programming language?", a: "no"},
  {q: "Is CSS used for styling?", a: "yes"},
  {q: "Does 2 + 2 = 5?", a: "no"},
  {q: "Is water dry?", a: "no"},
  {q: "Is Python a snake only?", a: "no"},
  {q: "Is Earth a planet?", a: "yes"},
  {q: "Does the sun rise in the west?", a: "no"}
];
</script>



</body>
</html>