<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body class="quiz-page">
    <a href="{{ url_for('information') }}" class="backbutton"> 
        <span class="backbuttontext">&lt;-</span>
    </a>

    <div class="maintext"> 
        <div class="title1">Quiz</div>
        <div class="subtitle">
            Create a budget that actually works for you, with personalized tips based on your income and spending habits.
        </div>
    </div>

   

    <div class="box">

        <div class="indicator">Question: <span id="question-counter"></span></div>

        <div class=line></div>

        <div class="question" id="question"></div>

        <button class="Ybutton" onclick="answer('yes')">Yes</button>
        <button class="Nbutton" onclick="answer('no')">No</button>
       

    </div>

    <script src="{{ url_for('static', filename='quiz.js') }}"></script>

</body>

</html>